<!--unused-->
{{#partial "content"}}
<div>
    <iframe id="cardinal_collection_iframe" name="collectionIframe" height="1" width="1" style="display: none;"></iframe>
    <form id="cardinal_collection_form" method="post" target="collectionIframe" action="{{data.payerAuthSetupReply_deviceDataCollectionURL}}">
        <input id="cardinal_collection_form_input" type="hidden" name="JWT" value="{{data.payerAuthSetupReply_accessToken}}" />
    </form>
</div>
{{/partial}}

{{#partial "scripts"}}
<script>
  window.onload = function () {
    const cardinalCollectionForm = document.querySelector('#cardinal_collection_form');
    if (cardinalCollectionForm) {
      cardinalCollectionForm.submit();
    }
  }

  window.addEventListener('message', function (event) {
    if (event.origin === 'https://centinelapistag.cardinalcommerce.com/') {
      let setupReply = JSON.stringify(event.data);
      const element = document.querySelector('#setup_reply');
      if (element) {
        element.textContent = event.data;
      }
      if (setupReply.Status) {
        console.log(setupReply.Status)
      }
    }
  }, false);
</script>
{{/partial}}

{{> layout/base}}